// Tacit - CSS Framework for Dummies, Without Classes
//@import url('https://unpkg.com/tacit-css@1.5.5/dist/tacit-css-1.5.5.min.css');//
@import url('https://fonts.googleapis.com/css?family=Karla');

@import "~highlight.js/scss/a11y-dark";
@import "~notyf/notyf.min";

section h1:first-child {
    margin-top: 18px;
}

button[data-sharer] {
    color: #fff;
}

article, body, header, footer {
    background: #ffffff;
    margin: auto;
    padding: 45px;
}

body, header {
    max-width: 800px;
    margin: auto;
}

article {
    background: #ffffff;
    margin: auto;
}

//* {border-collapse: separate;border-spacing: 0;box-sizing: border-box;margin: 0;max-width: 100%;padding: 0px;vertical-align: center;} //*

body {
    font-size: 20px;
    color: #000000;
    font-family: 'Karla', sans-serif;
    margin: auto;
    max-wdith: 800px;
}
      
header {
    font-size: 50px;
    color: #000000;
    background-color: #ffdd00;
    top: 0;
    padding-top: 20px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 28px;
    position: sticky;
    position: -webkit-sticky; /*safari*/
    max-wdith: 800px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    font-size: 20px;
    display: table; 
    max-wdith: 800px;
    margin: 0 auto;
}

li {
    float: left;
}

li a {
    padding: 25px;
    text-decoration: none;
}

li a:hover {
    background-color: #000000;
    color: #ffdd00;
    padding: 15px;
    text-decoration: none;
}

a {
    padding: 10px;
    color: #000000;
    text-decoration: none;
}

a:hover {
    background-color: #000000;
    color: #ffdd00;
    padding: 10px;
    text-decoration: none;
}
    
.test-css {
    padding: 5px;
    border: 2px solid blue;
}

h2 {
    font-size: 20px;
    color: #ffdd00;
    font-family: 'Karla', sans-serif;
}

h3 {
    font-size: 14px;
    color: #000000;
    font-family: 'Karla', sans-serif;
    text-align: center;
}

p {
    font-size: 14px;
    color: #000000;
    font-family: 'Karla', sans-serif;
}
