// Tacit - CSS Framework for Dummies, Without Classes
//@import url('https://unpkg.com/tacit-css@1.5.5/dist/tacit-css-1.5.5.min.css');//
@import url('https://fonts.googleapis.com/css?family=Karla');

@import "~highlight.js/scss/a11y-dark";
@import "~notyf/notyf.min";

//section h1:first-child {
//    margin-top: 18px;
//}

button[data-sharer] {
    color: #fff;
}

* {
    margin: 10px;
    //padding: 0;
    box-sizing: border-box;
    max-width: 800px;
}

body {
    font-family: 'Karla', sans-serif;
    padding: 0px;
    margin: 50px 20px 50px 50px;
    font-size: 20px;
    min-height: 200vh;
}

article {
    background: #ffffff;
    margin: 50px 10px 50px 10px;
}

//* {border-collapse: separate;border-spacing: 0;box-sizing: border-box;margin: 0;max-width: 100%;padding: 0px;vertical-align: center;} //*

//body {
//    font-size: 20px;
//    color: #000000;
//    font-family: 'Karla', sans-serif;
//    margin: auto;
//    max-width: 800px;
//}
      
//header {
 //   top: 0;
  //  padding-top: 20px;
 //   padding-left: 28px;
 //   padding-right: 28px;
//    padding-bottom: 28px;
 //   position: sticky;
 //   position: -webkit-sticky; /*safari*/
 ///   max-wdith: 800px;
//}
    
.test-css {
    padding: 5px;
    border: 2px solid blue;
}

p {
    font-size: 14px;
    color: #000000;
    font-family: 'Karla', sans-serif;
}


.nav {
    height: 50px;
    width: 100%;
    background-color: #ffdd00;
    color: #000000;
    position: relative;
}

.nav > .nav-header {
    display: inline;
  }
  
.nav > .nav-header > .nav-title {
    display: inline-block;
    font-family: 'Karla', sans-serif;
    padding: 10px 10px 10px 10px;
    font-size: 22px;
    color: #fff;
    font-weight: 550;
  }

.nav > .nav-links {
    font-size: 18px;
    display: inline;
    float: right;
  }

.nav > .nav-links > ul li a{
    color: #000;
    line-height: 40px;
    font-size: 18px;
    display: block;
    padding: 0 8px;
    text-decoration: none;
  }

.nav > .nav-links > ul{
    list-style: none;
    position: relative;
    padding: 0;
    margin-top: 5px;
  }

.nav > .nav-links > ul li{
    display: inline-block;
    background-color: #ffdd00;
  }

.nav > .nav-links > ul li:hover{
    background-color: #000000;
    color: #ffdd00;
    border-radius: 5px;
  }
  

.nav > .nav-btn {
    display: none; /*Hide toggle button for desktop*/
  }
   .nav > #nav-check {
    display: none;
  }


@media (max-width:750px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      height: 50px;
      padding: 13px;
      display: inline-block;
      width: 50px;

    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      height: 10px;
      border-top: 2px solid #eee;
      display: block;
      width: 25px;

    }
    .nav > .nav-links {
      position: absolute;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      display: block;
      width: 100%;
      background-color: #333;
      left: 0px;
    }
    .nav > .nav-links > ul li a {
      display: block;
      width: 100%;
    }

    /*   */


    
      .nav > .nav-links > ul li{
        padding: 0;
        background-color: #333;
        display: block;
        margin-bottom: 20px;
         
      }
      .nav > .nav-links > ul li a{
          margin-left: 40%;
      }
      .nav .nav-links ul a.icon{
        margin-left: 33%;
      }

    /*   */
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }



