// Tacit - CSS Framework for Dummies, Without Classes
@import url('https://unpkg.com/tacit-css@1.5.5/dist/tacit-css-1.5.5.min.css');
@import url('https://fonts.googleapis.com/css?family=Karla');

@import "~highlight.js/scss/a11y-dark";
@import "~notyf/notyf.min";

section h1:first-child {
    margin-top: 18px;
}

button[data-sharer] {
    color: #fff;
}

.test-css {
    padding: 5px;
    border: 2px solid blue;
}

NM {
    padding: 5px;
    font-size: 32px;
    color: #ffdd00;
    font-family: 'Karla', sans-serif;
}

NMblack {
    padding: 5px;
    font-size: 32px;
    color: #000000;
    font-family: 'Karla', sans-serif;
}

body {
    padding: 5px;
    font-size: 12px;
    color: #000000;
    font-family: 'Karla', sans-serif;
}

p {
    padding: 5px;
    font-size: 12px;
    color: #000000;
    font-family: 'Karla', sans-serif;
}
